<!-- Landing page --> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Tags</title>
</head>
    <body>
        <style>
            .jumbotron{
            background : #96c4ec !important;
            }
        </style>
        <div class="jumbotron text-center">
            <h1>Video Transcriber</h1>
            <p>video to text</p> 
        </div>
        <div class="container">
                <h2>Video</h2>
                <form method="POST">
                    <div class="form-group">
                        <label for="link">Link:</label>
                        <input type="link" class="form-control" id="link" placeholder="Enter link" name="link">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
    </body>
</html>